select{
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 8px 25px;
  margin: 40px;
  cursor: pointer;
}
.opacity{
  opacity: 0.4;
}
.scale{
  transform: scale(1.1);
}
.translate{
  transform: translate(50%);
}
